---
import { getCollection } from "astro:content";
import Card from "@/components/card.astro";
import Hero from "@/components/hero.astro";
import Layout from "@/layouts/default.astro";

let countries = await getCollection("clubs");
---

<Layout
  title="Clubs"
  description="Derzeit zählen wir 17 Clubs zu unserer Gemeinschaft. Erfahren Sie mehr über die einzelnen Clubs."
>
  <Hero title="Teilnehmende Clubs">
    Derzeit zählen wir 17 Clubs zu unserer Gemeinschaft. Jeder Club bringt sich
    mit individuellen Ideen und Einsatzbereitschaft seiner Mitglieder ein und
    hilft uns bei der Umsetzung unserer Ziele.
  </Hero>

  {
    countries.map((country) => (
      <>
        <h2 class="h2 mb-8 mt-16 first-of-type:mt-0">{country.data.name}</h2>
        <div class="grid grid-cols-2 gap-4 md:grid-cols-3 md:gap-8 lg:grid-cols-4">
          {country.data.clubs.map((club, index) => (
            <Card
              title={club.name}
              href={club.href}
              image={club.image}
              loading={index < 6 ? "eager" : "lazy"}
              external
            />
          ))}
        </div>
      </>
    ))
  }
</Layout>
