---
import { getCollection } from "astro:content";
import Card from "@/components/card.astro";
import Hero from "@/components/hero.astro";
import Layout from "@/layout/default.astro";

const countries = await getCollection("clubs");
---

<Layout>
  <Hero title="Teilnehmende Clubs">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor esse
    tenetur, blanditiis excepturi minus expedita labore distinctio. Odio cumque
    maiores aliquid consectetur aliquam labore quidem asperiores magni culpa,
    amet ut!
  </Hero>

  {
    countries.map((country) => (
      <>
        <h2 class="h2 mb-8 mt-16 font-black first-of-type:mt-0">
          {country.data.name}
        </h2>
        <div class="grid grid-cols-2 gap-4 md:grid-cols-3 md:gap-8 lg:grid-cols-4">
          {country.data.clubs.map((club) => (
            <Card
              title={club.name}
              href={club.href}
              image={club.image}
              external
            />
          ))}
        </div>
      </>
    ))
  }
</Layout>
