---
import Hero from "@/components/hero.astro";
import NewsPreview from "@/components/news-preview.astro";
import Layout from "@/layout/default.astro";
---

<Layout>
  <Hero title="Aktuelle News">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor esse
    tenetur, blanditiis excepturi minus expedita labore distinctio. Odio cumque
    maiores aliquid consectetur aliquam labore quidem asperiores magni culpa,
    amet ut!
  </Hero>

  <div
    class="mb-16 grid grid-cols-1 gap-x-4 gap-y-16 sm:grid-cols-2 md:gap-x-8 lg:grid-cols-1"
  >
    <NewsPreview
      title="Adventskalender 2023"
      date={new Date()}
      excerpt="saLorem ipsum dolor sit amet, consectetur adipisicing elit.d Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit."
      href="/news/test"
      imageUrl="https://placehold.co/400x400"
    />

    <NewsPreview
      title="Adventskalender 2023"
      date={new Date()}
      excerpt="saLorem ipsum dolor sit amet, consectetur adipisicing elit.d Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit."
      href="/news/test"
      imageUrl="https://placehold.co/400x400"
    />

    <NewsPreview
      title="Adventskalender 2023"
      date={new Date()}
      excerpt="saLorem ipsum dolor sit amet, consectetur adipisicing elit.d Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit."
      href="/news/test"
      imageUrl="https://placehold.co/400x400"
    />

    <NewsPreview
      title="Adventskalender 2023"
      date={new Date()}
      excerpt="saLorem ipsum dolor sit amet, consectetur adipisicing elit.d Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit."
      href="/news/test"
      imageUrl="https://placehold.co/400x400"
    />

    <NewsPreview
      title="Adventskalender 2023"
      date={new Date()}
      excerpt="saLorem ipsum dolor sit amet, consectetur adipisicing elit.d Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit."
      href="/news/test"
      imageUrl="https://placehold.co/400x400"
    />
  </div>

  <nav class="flex justify-center gap-x-1">
    <a
      href="/news"
      class="inline-block rounded-md bg-gray-900 px-6 py-3 font-medium text-white"
      >1</a
    >
    <a
      href="/news"
      class="inline-block rounded-md bg-gray-900 px-6 py-3 font-medium text-white"
      >2</a
    >
    <a
      href="/news"
      class="inline-block rounded-md bg-gray-900 px-6 py-3 font-medium text-white"
      >3</a
    >
    <a
      href="/news"
      class="inline-block rounded-md bg-gray-900 px-6 py-3 font-medium text-white"
      >4</a
    >
  </nav>
</Layout>
