<footer
  class="mx-auto mt-16 flex max-w-7xl items-center justify-between p-8 text-sm"
>
  <p>
    &copy; {new Date().getFullYear()} Regio Lions. Alle Rechte vorbehalten. Design
    & Entwicklung <a
      href="https://andreasremdt.com"
      target="_blank"
      rel="nofollow noreferrer noopener">Andreas Remdt</a
    >.
  </p>

  <nav class="space-x-8">
    <a href="/impressum">Impressum</a>
    <a href="/datenschutz">Datenschutz</a>
  </nav>
</footer>
