---
interface Props {
  title: string;
}

let { title } = Astro.props;
---

<header class="py-8">
  <h1 class="h1 mb-8">{title}</h1>
  <p class="mb-6 text-lg md:mb-12 md:w-2/3 md:text-xl lg:w-1/2"><slot /></p>
</header>
