---
import type { Page } from "astro";

interface Props {
  page: Page;
}

let { page } = Astro.props;
---

<nav class="flex items-center justify-end gap-x-2">
  <p class="mr-6">Seite {page.currentPage} von {page.lastPage}</p>
  {
    page.url.prev ? (
      <a
        href={page.url.prev}
        class="btn btn-primary"
        title={`Gehe zu Seite ${page.currentPage - 1}`}
      >
        &larr;
      </a>
    ) : null
  }
  {
    page.url.next ? (
      <a
        href={page.url.next}
        class="btn btn-primary"
        title={`Gehe zu Seite ${page.currentPage + 1}`}
      >
        &rarr;
      </a>
    ) : null
  }
</nav>
